*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 640px;
    height: 360px;
    overflow: hidden; /* Utilizado para cortar animação do controle, fazendo com que ele não fique em baixo*/
}

.video{
    width: 100%; /* Video tendo 100% da largura e altura do pai (neste caso o container)*/
}

.controles{
    position: absolute; /* Utilizamos para conseguirmos colocar a div por cima do video*/
    bottom: -55px;
    left: 20%;
    width: 60%;
    max-width: 640px;
    height: 15%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    transition: .4s ease-in-out;
}

.btn{
    position: relative;
    width: 50px;
    padding: 10px;
}
.btn:hover{
    background-color: white;
}
.container:hover .controles{
    bottom: 0;
}