*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 640px;
    height: 360px;
}

.video{
    width: 100%; /* Video tendo 100% da largura e altura do pai (neste caso o container)*/
}

.controles{
    position: absolute; /* Utilizamos para conseguirmos colocar a div por cima do video*/
    bottom: 0%;
    width: 100%;
    max-width: 640px;
    height: 15%;
    text-align: center;
    transform: translateY(100%);
    background-color: rgb(0, 0, 0, 0.5);
    /* background-color: red; */
    opacity: 0;
}

.btn{
    position: relative;
    width: 50px;
    padding: 10px;
    /* top: 100%; /* 100% para ele ter a distancia de 100% do topo, levando os botoes para debaixo do video
    transform: translateY(0%); Ajustamos usando o tranform, tirando exatamente o tamanho do botão para ele entrar no video */
}
.btn:hover{
    background-color: white;
}
.container:hover .controles{
    transform: translateY(0%);
    opacity: 1;
}